:root {

    --color-pink: #FF90E8;
    --color-pink-strong: #e460c3;
    --color-orange: #ff0;
    --color-orange2: #FECA00;
    --color-orange3: #FFC900;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-greensea: #23A094;
    --color-ligth-blue: #90A8ED;
    --color-purple: #932F6D;
}

* {
    box-sizing: border-box;
    
} 
  

body {
    background-color: #ff90e8;
    font-family: "Mabry Pro", sans-serif;
    line-height: 1.4;
    margin: 0; 
    padding: 0;
    overflow-x: hidden;
}

/* --------- HEADER --------------- */

.container { 
    width: 100%;
    background-color: var(--color-white);
    border-top: 2px solid black; 
    border-bottom: 2px solid black;
    
}

.logo {
    width: 90%; 
    margin: 2px 3px 2px 3px;
}

/* ------- navbar -------- */
.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    background-color: #932F6D; 
    height: 70px;   
}

.nav-container {
    font-family: "Mabry Pro", sans-serif;
    font-size: 1.2em;
    width: 180%;  
}

a {
    font-family: "Mabry Pro", sans-serif;
    font-size: 1.2em;
    color: var(--color-black);
    text-decoration: none;
    position: relative;
    margin: 27px;  
}

a.nav-cont {
    font-family: "Mabry Pro", sans-serif;
    font-size: 1.2em;
    color: var(--color-white);
    text-decoration: none;
    position: relative;
    margin-left: 2rem;
    text-shadow: 1px 1px 7px var(--color-white);
    
}

a.nav-cont::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: var(--color-black);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

a.nav-cont:hover::after {
    transform: scaleX(1);
}

/* ----social media ---- */
.social-media {
    width: 80%;
    height: 70px;
    padding-left: 1rem;
    border: 1px solid black;
    background-color: #1da1f2;
}

.nav {
    max-width: 80rem;
    display: flex;
    align-items: center;
    pointer-events: none;
}

.nav:hover {
    pointer-events: auto;
}

.sm-header {
    font-size: 2.5rem;
    text-transform: uppercase;
    cursor: pointer;
    pointer-events: auto;   
}

.line {
    width: 10rem; 
    height: 3px;
    background-color: black;
    margin-right: auto;
    transform: scaleX(0.2);
    transform-origin: left;
    transition: transform 0.5s;
}


.nav:hover .line {
    transform: scaleX(1);
}

.nav-list {
    display: flex;
    list-style: none;
    width: 50%;   
}

.nav-item {
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
}

.nav-item:nth-child(odd) {
    transform: translateY(5rem);
}

.nav-item:nth-child(even) {
    transform: translateY(-5rem);
}

.nav:hover .nav-item {
    opacity: 1;
    transform: translateY(0);
    margin-left: 15px;
}

.nav-link i {
    transition: color 0.5s;
}


/* ----------------------- MAIN ------------------------------------------ */

.main-container {  
    display: grid;
    grid-template-columns: 3fr 1fr;  
    border-bottom: 1px solid black;  
}

.section-container {
    background-color: var(--color-orange3);
}

.section1 {
    margin-left: 2rem;
}

.section1 h1, .section1 h2 {
    text-shadow: 2px 2px 4px var(--color-pink);
}

.section1 p {
    font-size: 1.8em;
}

.link-container {
    display: flex;
    align-items: center;
    font-size: 1.8em;
}

.link-text {
    margin-right: 10px;
}

.fa-arrow-right {
    margin-top: 10px;
    
}

.aside-container {
    background-color: var(--color-pink);
    display: flex;
    flex-direction: column;
}

#skincare-color {
    width: 60%;
    border-radius: 20px;
    box-shadow: 8px 8px 0px 4px #000000;
    transform: rotate(5deg);
    margin-top: 2rem;
    margin-left: -1rem;
}

#skincare-color2 {
    width: 60%;
    border-radius: 20px;
    box-shadow: 8px 8px 0px 4px #000000;
    transform: rotate(5deg);
    margin-top: 2rem;
    margin-left: -1rem;
}

#skincare-color:hover {
    translate: 0 -10px;    
}

#skincare-color2:hover {
    translate: 0 -10px;
}

h1 {
    font-size: 4.2rem;    
}

h2 {
    font-size: 2.7rem;
    text-align: left;
}

/* ---------------------- FOOTER ----------------------- */

.footer .container {
    display: grid;
    grid-template-columns: 3fr 3fr;
    background-color: var(--color-black);
    padding-left: 2rem;
}


.footer-subscription h4 {
    font-size: 1.7em;
    color: var(--color-white);
    text-align: justify;
}

/* --FORM-- */
.newsletter-grid {
    display: grid;
    grid-auto-columns: 1fr; 
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    /* border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; */
} 

.form-input-newsletter {
    padding: 1rem 1.5rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-style: none; 
    background-color: var(--color-white);
    color: var(--color-black);
    height: 4rem;
    grid-column-end: span 3;
}

.form-button-newsletter {
    background-color: #FF90E8;
    border: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.footer-social i {
    padding: 30px;
    color: grey;
}

.logos:hover {
    transition: 0.4s;
    transform: translateY(-5px);
}

.footer-social a .fa-instagram:hover {
    color: var(--color-orange2)
}
.footer-social a .fa-twitter:hover {
    color: var(--color-ligth-blue);
}
.footer-social a .fa-tiktok:hover {
    color: var(--color-pink)
}


.copyright {
    background-color: var(--color-black);
    color: var(--color-white);
    margin: 0;
    padding: 1em;
    text-align: center;
}

/* ----------------------------------------- */
/* -------------- page SKINCARE ------------ */

.h2-skincare-container {
    background-color: #FFC900;
    border-bottom: 2px solid black;
    padding-left: 2rem;
    text-shadow: 2px 2px 4px var(--color-purple);
}

.h2-skincare-container h2 {
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 10px;
}

.h3-skincare {
    font-size: 3.2rem;
    padding-left: 2rem;
    text-shadow: 2px 2px 4px var(--color-orange);
}

.skincare-div {
    display: grid;
    grid-template-columns: 2fr 2fr;   
}

.card {
    position: relative;
    width: 30rem;
    height: 10rem;
    background-color: var(--color-pink-strong);
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 3px 3px 8px var(--color-white);
}

.card__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.15;
    transition: opacity 0.25s, scale 0.35s;
}

.card:hover .card__image {
    opacity: 0.5;
    scale: 1;
}

.card__body {
    position: absolute;
    inset: 0;
    padding: 50px;
    color: var(--color-white);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    justify-content: center;
}

.card__body::before {
    content: '';
    position: absolute;
    inset: 20px;
    border: 2px solid var(--color-white);
    opacity: 0;
    scale: 1.25;
    transition: opacity 0.25s, scale 0.25s;
}

.card:hover .card__body::before {
    opacity: 1;
    scale: 1;
}


.card__title {
    font-size: 1.5em;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px var(--color-pink);
    margin-top: 2.5em;
}

.card__description  {
    font-size: 1.8em;
    opacity: 0;
    translate: -25px;
    transition: opacity 0.25s, translate 0.25s;
}

.card:hover .card__description {
    opacity: 1;
    translate: 0;
}


/* --------------normal skin --------------- */


.h4-skincare-n {
    font-size: 3em;
    padding-left: 2rem;
    text-shadow: 2px 2px 4px var(--color-orange);
}

.skincare-n-container {
    display: grid;
    grid-template-columns: 4fr 2fr;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 30px;
}

.skincare-n-text p {
    font-size: 1.7rem;
    line-height: 1.4;
}

.skincare-n-text h6 {
    font-size: 2.5em;
}

.skincare-n-products {
    padding-left: 1rem;
}

.skincare-n-products img {
    width: 90%;
    height: auto;
    box-shadow: 8px 8px 0px 4px #000000;
    border-radius: 10px;
    transform: rotate(5deg);
    margin-bottom: 10rem;    
}

/* --------------dry skincare --------------- */


.skincare-d-products {
    padding-left: 1rem;
}

.skincare-d-products img {
    width: 90%;
    height: auto;
    box-shadow: 8px 8px 0px 4px #000000;
    border-radius: 10px;
    transform: rotate(5deg);
    margin-bottom: 10rem;    
}


/*--------------oily skincare --------------- */

.skincare-o-products {
    padding-left: 1rem;
}

.skincare-o-products img {
    width: 60%;
    height: auto;
    box-shadow: 8px 8px 0px 4px #000000;
    border-radius: 10px;
    transform: rotate(5deg);
    margin-bottom: 10rem;    
}

/* -------------combination skincare-------- */

.skincare-c-products {
    padding-left: 1rem;
}

.skincare-c-products img {
    width: 90%;
    height: auto;
    box-shadow: 8px 8px 0px 4px #000000;
    border-radius: 10px;
    transform: rotate(5deg);
    margin-bottom: 10rem;    
}


/* ----------------------------------------- */
/* ---------------- MEDIA QUERIES ---------- */



@media screen and (max-width: 574px) {

    .container {
        /* max-width: 570px; */
        width: 100%;
    }

    .logo {
        width: 100%;
        height: auto;
        margin: 0;
    }

    a {
        margin: 0;
    }
   
    .nav-container {
        font-size: 1em; 
        width: 40%;
    }

    .social-media {
        padding: 0;
        width: 100%;
    }

    .sm-header {
        width: 160%;
        font-size: 12px ;
        margin-left: 5px;
    }

    .line {
        width: 55px ; 
        height: 2px;
    }

    .main-container {
        display: flex;
        flex-direction: column;
    }


    .section1 {
        margin-bottom: 3.5em;
    }

    .section1 h1 {
        font-size: 3em;
    }

    .section1 h2 {
        font-size: 1.8em;
        margin-right: 2em;
    }

    .section1 p {
        font-size: 1.6em;
    }

    .aside-container {
        display: flex;
        flex-direction: row;
    }

    #skincare-color, #skincare-color2 {
        width: 25%;
        height: 25%;
        margin-left: 5em;
        margin-right: 1.5em;
        margin-bottom: 1.5em;
    }

    .footer .container {
        display: flex;
        flex-direction: column;
        padding: 2.5em; 
    }

    .copyright {
        padding: 0;
    }
}


/* --------------------------------- */

@media (min-width: 575px) {

    .container {
        /* max-width: 570px; */
        width: 100%;
    }

    .logo {
        width: 100%;
        height: auto;
        margin: 0;
    }

    a {
        margin: 0;
    }
   
    .nav-container {
        font-size: 1em; 
        width: 40%;
    }

    .social-media {
        padding: 0;
        width: 100%;
    }

    .sm-header {
        width: 160%;
        font-size: 12px ;
        margin-left: 5px;
    }

    .line {
        width: 55px ; 
        height: 2px;
    }

    .main-container {
        display: flex;
        flex-direction: column;
    }

    .section1 {
        margin-bottom: 3.5em;
    }

    .section1 h1 {
        font-size: 3em;
    }

    .section1 h2 {
        font-size: 1.8em;
        margin-right: 2em;
    }

    .section1 p {
        font-size: 1.6em;
    }

    .aside-container {
        display: flex;
        flex-direction: row;
    }

    #skincare-color, #skincare-color2 {
        width: 25%;
        height: 25%;
        margin-left: 5em;
        margin-right: 1.5em;
        margin-bottom: 1.5em;
    }

    .footer .container {
        display: flex;
        flex-direction: column;
        padding: 2.5em; 
    }
    
    .footer-subscription h4 {
        font-size: 1.2em;
    }

    .copyright {
        padding: 0;
    }




}



/* -------------------------------- */

@media (min-width: 768px) {
    .container {
        width: 100%;
    }

    .logo {
        width: 100%;
        height: auto;
        margin: 0;
    }

    a {
        margin: 0;
    }
   
    .nav-container {
        font-size: 1.3em; 
        width: 40%;
    }

    .social-media {
        padding: 0;
        width: 100%;
    }

    .sm-header {
        width: 160%;
        font-size: 1em ;
        margin-left: 5px;
        
    }

    .line {
        width: 55px ; 
        height: 2px;
    }

    .main-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
        
    .section-container {
        border-right: 2px solid black;
    }

    .section1 {
        margin-bottom: 3.5em;
    }

    .section1 h1 {
        font-size: 3em;
    }

    .section1 h2 {
        font-size: 1.8em;
        margin-right: 2em;
    }

    .section1 p {
        font-size: 1.6em;
    }

    .aside-container {
        display: flex;
        flex-direction: column;
    }

    #skincare-color, #skincare-color2 {
        width: 60%;
        height: 60%;
        margin-left: 3em;
        margin-bottom: 2em;
        
    }

    .footer .container {
        display: flex;
        flex-direction: column;
        padding: 2em; 
    }

    .footer-subscription h4 {
        font-size: 1.3em;
    }

    .copyright {
        padding: 0;
    }

}
